body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  color: #333333;
  background-color: #ffffff;
}

a {
  color: #0088cc;
  text-decoration: none;
}

a:hover {
  color: #005580;
  text-decoration: underline;
}

h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 60px;
  color: #fff;
  margin: 0;
  padding: 0;
}

div.header-row {
  background-color: #f05283;
  margin: 70px 0 50px 0;
  padding: 10px 0;
}

div.container {
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  padding: 0 1.5em;
}

div.row {
  position: relative;
  width: 100%;
  margin: 1.5em 0;
  height: 200px;
}

div.info-row {
  position: relative;
  width: 100%;
  margin: 1em 0;
  text-align: center;
}

div.item {
  position: absolute;
  top: 0;
  height: 100%;
  background-color: #ddd;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1em;
  border: 1px solid black;
}

div.caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  text-align: center;
  border-radius: 0 0 1em 1em;
  padding: 0.25em 0px;
}

div.conj {
  position: absolute;
  top: 50%;
  height: 1em;
  margin-top: -0.5em;
  text-align: center;
}

.item1of3 {
  left: 0%;
  width: 27%
}

.conj1of2 {
  left: 27%;
  width: 9.5%;
}

.item2of3 {
  left: 36.5%;
  width: 27%
}

.conj2of2 {
  left: 63.5%;
  width: 9.5%;
}

.item3of3 {
  left: 73%;
  width: 27%
}

.item1of2 {
  left: 0%;
  width: 45.25%
}

.conj1of1 {
  left: 45.25%;
  width: 9.5%;
}

.item2of2 {
  left: 54.75%;
  width: 45.25%
}

span.info {
  border: 1px solid black;
  padding: 0.5em;
  display: inline-block;
  background-color: #ddd;
}

#raspy {
  background-image: url('raspy.jpg');
}

#malex {
  background-image: url('malley.jpg');
}

#bailey {
  background-image: url('bayles.jpg');
}

#stas {
  background-image: url('stas2.jpg');
}

#andrea {
  background-image: url('andrea.jpg');
}

#date {
  background-image: url('november_2012.png');
}

#winery {
  background-image: url('silvanridge.jpg');
}

#eugene {
  background-image: url('http://maps.googleapis.com/maps/api/staticmap?center=44.004389,-123.08675360&zoom=9&size=400x300&maptype=terrain&sensor=false&markers=size:small%7Ccolor:red%7C43.95670890,-123.2681520');
}

#equality {
  background-image: url('equality.png');
}

#hrc {
  background-image: url('hrc.png');
}

#rooms {
  background-image: url('rooms.jpg');
}

#hotel-info {
  background-image: url('inn.jpg');
}

#hotel-map {
  background-image: url('http://maps.googleapis.com/maps/api/staticmap?center=44.06583890,-123.1026280&zoom=13&size=400x300&maptype=road&sensor=false&markers=size:small%7Ccolor:red%7C44.06583890,-123.1026280');
}
